/* border-box fix */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* remove margin and padding on body */
  padding: 0;
  margin: 0;
  background-color: black;
}

/* Grouping example */
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

.wrapper {
  background: white;
  width: 90%;
  margin: 10px auto;

  display: grid;
  /* create 12 col layout */
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 10px;
}

/* padding on immediate children of wrapper */
.wrapper>* {
  padding: 20px;
}

header {
  background: skyblue;
  /* span all 12 cols*/
  grid-column: 1 /6;
}

main {
  background: slategray;
  /* span 6 cols */
  grid-column: 6/15;
}

nav {
  background: cadetblue;
  /* span 3 cols */
  grid-column: 6/15;
 
}

aside {
  background: seagreen;
  /* span 3 cols */
  grid-column: 1/ 6;
  
}

/* span 2 rows */
nav,
aside {
  grid-row: 2 / 4;
}

footer {
  background: darkslateblue;
  /* span all 12 cols*/
  grid-column: 4 / 10;
}