/* START border-box fix */
html {
  box-sizing: border-box;
}


/* asterisk (*) symbol represents the universal selector. Its primary function is to select all elements of any type within the document. */


/* :before is a pseudo-element used to insert content before the actual content of a selected element. It creates a "virtual" first child within the element, allowing you to style and add content that isn't directly present in your HTML markup. */


*,
*:before,
*:after {
  box-sizing: inherit;
}


/* END border-box fix */


body {
  padding: 0;
  margin: 0;
  display: flex;
  /*  set max width of .container but display body as flex and center it's contents */
  justify-content: center;
  /*  this centers the contents of the body like .container */
  background-image: url(images/background.jpg);
  background-attachment: fixed;
  background-repeat: repeat;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}



/* Add padding to all of the .container child elements */
.container>* {
  padding: 20px;
}


.container {
  color: white;
  display: flex;
  /* use flex box */
  flex-wrap: wrap;
  /* wrap */
  max-width: 1000px;
}


header {
  background: #e0be40;
  flex: 1 0 100%;
  /* grow on, shrink off, span width of browser */
  order: 1;
  /* display order regardless of html structure */


  /* POSITION STICKY */
  position: sticky;
  top: 0;
  z-index: 1;
}


main {
  background: #eddda0;
  flex: 1 1 500px;
  order: 3;

}

p {
  font-family: "Allan", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}



nav {
  background: #72644c;
  flex: 1 0 200px;
  /* grow but do not shrink less than basis */
  order: 2;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin: 10px 0;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

nav a {
  display: inline-block;
  background-color: #ffd000;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  transition: background 0.3s;
  color: black;
  width: 100%;
}

nav a:hover {
  background-color: #ffb800;
}


aside {
  background: #72644c;
  flex: 1 0 200px;
  /* grow but do not shrink less than basis */
  order: 4;
}

aside img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 100%;
  display: block;
  border-radius: 6px;
}

footer {
  background: #e0be40;
  flex: 1 0 100%;
  /* grow on, shrink off, span width of browser */
  order: 5;
}


/* SUBSCRIBE BUTTON */
div.buttonAbsolute {
  background-color: #72644c;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  z-index: 2;
  width: 130px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  transition: background 0.3s;
}

div.buttonRelative:hover,
div.buttonAbsolute:hover {
  background-color: #a18e69;
}



/* view gallery button */
div.buttonRelative {
  background-color: #72644c;
  left: 40px;
  width: 100%;
  padding: 10px;
  z-index: 3;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  transition: background 0.3s;
}
